<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forms</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="src/input.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
  <!--For Tom Select-->
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
</head>
<body class="bg-white dark:bg-neutral-900">
  <!--Page title-->
  <h1 class="text-xs ml-4 mt-3 font-bold text-gray-700 dark:text-gray-400">OVERVIEW</h1>
  <h1 class="text-4xl ml-4 mt-0 font-bold dark:text-white">Forms</h1>

  <!--Forms-->
  <div class="bg-white dark:bg-neutral-900 flex items-center justify-center py-6 mx-4 my-2">
    <div class="container">






          


      <!--Input Forms-->
      <div class="card bg-slate-100 dark:bg-neutral-800 py-3 px-5 rounded-xl flex flex-col mb-5">
        <div class="title text-2xl font-bold mb-3 text-gray-800 dark:text-white">Input Form</div>

            <!--Input-->
            <div class="mb-6">
              <label class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Large input</label>
              <input type="text" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-xl bg-slate-200 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Default input</label>
              <input type="text" class="bg-slate-200 border border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div>
              <label class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Small input</label>
              <input type="text" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-xl bg-slate-200 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>


            <!--@ Input-->
            <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white mt-3">Username</div>
            <div class="flex">
              <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-slate-100 border border-r-0 border-gray-300 rounded-l-xl dark:bg-neutral-600 dark:text-gray-400 dark:border-gray-600">
                @
              </span>
              <input type="text"
              class="rounded-none rounded-r-xl bg-slate-200 border border-neutral-300 text-gray-900 focus:ring-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5
              dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="nowachrono">
            </div>


            <!--Email Input-->
            <div class="block mb-2 text-md font-medium text-gray-900 dark:text-white mt-3">Email</div>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
              </div>
              <input type="text" class="bg-slate-200 border border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-neutral-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="mail@domain">
            </div>
            

            <!--Correct and Incorect Input-->
            <div class="mt-3 mb-6">
              <div class="block mb-2 text-md font-medium text-green-400">Name</div>
              <input type="text" class="bg-green-50 border border-green-500 text-green-900 placeholder-green-700 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-green-100 dark:border-green-400" placeholder="Your name">
              <p class="mt-2 text-sm text-green-400 font-medium">Correct</p>
            </div>
            <div>
              <div class="block mb-2 text-md font-medium text-red-400">Name</div>
              <input type="text" class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400" placeholder="Your name">
              <p class="mt-2 text-sm text-red-600 dark:text-red-400 font-medium">Incorrect</p>
            </div>

          </div>


      <!--Search Forms-->
      <div class="card bg-slate-100 dark:bg-neutral-800 py-3 px-5 rounded-xl flex flex-col mb-5">
        <div class="title text-2xl font-bold mb-3 text-gray-800 dark:text-white">Search Form</div>

            <!--Tom Select Form-->
            <div class="p-0 bg-black">	
              <select id="select-tags" multiple data-placeholder="Best movies and TV shows" class="form-control">
              <optgroup label="Name">
                <option value="Lorem Ipsum" data-date="1">Position 1</option>
                <option value="Some Text" data-date="2" selected>Position 2</option>
              </optgroup>
              <optgroup label="Positions A-F">
                <option value="A-Position" data-date="1">Lorem Ipsum</option>
                <option value="B-Position" data-date="2">Some Text</option>
                <option value="C-Position" data-date="3">Lorem Ipsum</option>
                <option value="D-Position" data-date="4">Some Text</option>
                <option value="E-Position" data-date="5">Lorem Ipsum</option>
                <option value="F-Position" data-date="6">Some Text</option>
              </optgroup>
            </select>
            </div>

          </div>


      <!--Select Forms-->
      <div class="card bg-slate-100 dark:bg-neutral-800 py-3 px-5 rounded-xl flex flex-col mb-5">
        <div class="title text-2xl font-bold mb-3 text-gray-800 dark:text-white">Select Form</div>

        <!--Custom Form-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.7.1/cdn.js" defer ></script>

        <select id="select2" name="select2[]" class="hidden" multiple>
            <option value="Positions">Position</option>
            <option value="Position-1" selected>First</option>
            <option value="Position-2" selected>Second</option>
            <option value="Position-3" selected>Third</option>

            <option value="ID">ID</option>
            <option value="ID-1" selected >123</option>
            <option value="ID-2" selected>456</option>
            <option value="ID-3" selected>789</option>
        </select>
        
        <div class="relative flex" x-data="{ ...selectMultiple('select2') }">
        
            <!-- Selected -->
            <div class="flex flex-wrap rounded-xl shadow-lg bg-slate-200 dark:bg-neutral-600"
                @click="isOpen = true;"
                @keydown.arrow-down.prevent="if(dropdown.length > 0) document.getElementById(elSelect.id+'_'+dropdown[0].index).focus();">
        
                <template x-for="(option,index) in selected;" :key="option.value">
                    <p class="m-1 mb-1 self-center p-2.5 text-xs text-gray-200 whitespace-nowrap rounded-xl bg-blue-400 hover:bg-blue-500 cursor-pointer"
                      x-text="option.text"
                      @click="toggle(option)">
                    </p>
                </template>
        
                <input type="text" placeholder="Select Options" class="m-1 p-2 rounded-xl h-10 bg-slate-200 dark:bg-neutral-600 text-gray-600 dark:text-white"
                    x-model="term"
                    x-ref="input" />
            </div>
        
            <!-- Dropdown -->
            <div class="absolute mt-12 z-40 rounded-xl w-full border dark:border-neutral-600 bg-slate-100 dark:bg-neutral-700"
                x-show="isOpen"
                @mousedown.away="isOpen = false">
        
                <template x-for="(option,index) in dropdown" :key="option.value">
                    <div class="cursor-pointer rounded-xl hover:bg-blue-400 focus:bg-blue-500 text-gray-600 dark:text-white"
                        :class="(term.length > 0 && !option.text.toLowerCase().includes(term.toLowerCase())) && 'hidden';"
                        x-init="$el.id = elSelect.id + '_' + option.index; $el.tabIndex = option.index;"
                        @click="toggle(option)"
                        @keydown.enter.prevent="toggle(option);"
                        @keydown.arrow-up.prevent="if ($el.previousElementSibling != null) $el.previousElementSibling.focus();"
                        @keydown.arrow-down.prevent="if ($el.nextElementSibling != null) $el.nextElementSibling.focus();">
        
                        <p class="p-2"
                           x-text="option.text">
                        </p>
                    </div>
                </template>
            </div>
        </div>
        

      </div>

      <!--Log In Forms-->
      <div class="card bg-slate-100 dark:bg-neutral-800 py-3 px-5 rounded-xl flex flex-col mb-5">
        <div class="title text-2xl font-bold mb-3 text-gray-800 dark:text-white">Log In Form</div>

          <!--Log In form-->
          <form class="bg-slate-200 dark:bg-neutral-700 shadow-lg rounded-xl px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
              <label class="block text-gray-500 dark:text-gray-300 text-lg font-bold mb-2" for="username">
                Username
              </label>
              <input class="appearance-none border rounded-xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="username">
            </div>
            <div class="mb-6">
              <label class="block text-gray-500 dark:text-gray-300 text-lg font-bold mb-2" for="password">
                Password
              </label>
              <input class="appearance-none border rounded-xl w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="************">
            </div>
            <div class="flex items-center justify-between">
              <button class="bg-blue-400 hover:bblue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                Sign In
              </button>
              <a class="inline-block align-baseline font-bold text-sm text-blue-400 hover:text-blue-700" href="#">
                Forgot Password?
              </a>
            </div>
          </form>

      </div>

    </div>
  </div>
    

    <!--Empty Modal-->
    <!--Overlay element-->
    <div id="overlayEmpty" class="fixed hidden z-40 w-full h-full inset-0 backdrop-blur-md bg-opacity-60"></div>

    <!--Modal Body-->
    <div id="modalEmpty" class="text-center z-50 fixed hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-100 dark:bg-neutral-800 rounded-xl px-5 py-5 space-y-5 drop-shadow-lg">
    <h1 class="text-2xl font-medium text-gray-600 dark:text-gray-400 ">Modal</h1>
    <p class="text-sm text-gray-500 px-8">
        There is nothing here yet...
    </p>
    <button id="closeEmpty"
        class="bg-gray-500 px-5 py-2 text-sm shadow-lg font-medium tracking-wider text-white rounded-xl">
        Cancel
    </button>

    </div>



  <!--Footer Navigation Bar-->
    <div id="bottom-navigation" class="block fixed inset-x-0 bottom-0 z-10 shadow rounded-xl mx-3 my-2 backdrop-blur-lg">
      <div id="tabs" class="flex justify-between">
        <!--Wigets-->
        <a href="../index-components.html" class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
          <ion-icon name="extension-puzzle"></ion-icon>
          <span class="tab tab-wigets block text-xs">Wigets</span>
        </a>

        <!--Pages-->
        <a href="../index-pages.html" class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
          <ion-icon name="book"></ion-icon>
          <span class="tab tab-pages block text-xs">Pages</span>
        </a>

        <!--Home-->
        <a href="../index.html" class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
          <ion-icon name="home"></ion-icon>
          <span class="tab tab-home block text-xs">Home</span>
        </a>

        <!--Theme Modal Window-->
        <a href="#" id="openEmpty"
        class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
          <ion-icon name="contrast-sharp"></ion-icon>
          <span class="tab tab-theme block text-xs">Theme</span>
        </a>

        <!--Search-->
        <a href="../index-search.html" class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
          <ion-icon name="search"></ion-icon>
          <span class="tab tab-search block text-xs">Search</span>
        </a>
      </div>
    </div>


  <!--IONICONS-->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="../js/forms.js"></script>
  <script src="../js/modals.js"></script>
</body>
</html>