<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="src/input.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/dist/output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="tailwind.css">
</head>
<body class="bg-white dark:bg-neutral-900">

    <!--Page title-->
    <h1 class="text-xs ml-4 mt-3 font-bold text-gray-700 dark:text-gray-400">OVERVIEW</h1>
    <h1 class="text-4xl ml-4 mt-0 font-bold dark:text-white ">Modal</h1>

    <!--Modals overview-->
    <div class=" bg-white dark:bg-neutral-900 py-6 mx-4 my-2">

        <!--Modals card-->
        <div class="card bg-slate-100 dark:bg-neutral-800 py-3 px-5 rounded-xl flex flex-col mb-5">
            <div class="title text-2xl font-bold mb-3 text-gray-800 dark:text-white">Modal</div>
                
            
                <!--Empty Modal-->
                <button id="openEmpty" class="px-5 py-2 bg-gray-500 hover:bg-gray-700 text-white cursor-pointer rounded-md mt-3 font-bold">
                    Empty Modal
                </button>
    
                <!--Overlay element-->
                <div id="overlayEmpty" class="fixed hidden z-40 w-full h-full inset-0 backdrop-blur-md bg-opacity-60"></div>
    
                <!--Modal Body-->
                <div id="modalEmpty" class="text-center z-50 fixed hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-100 dark:bg-neutral-800 rounded-xl px-5 py-5 space-y-5 drop-shadow-lg">
                <h1 class="text-2xl font-medium text-gray-600 dark:text-gray-400 ">Modal</h1>
                <p class="text-sm text-gray-500 px-8">
                    There is nothing here yet...
                </p>
                <button id="closeEmpty"
                    class="bg-gray-500 px-5 py-2 text-sm shadow-lg font-medium tracking-wider text-white rounded-xl">
                    Cancel
                </button>
       
                </div>


                <!--Success Modal-->
                <button id="openSuccess" class="px-5 py-2 bg-green-500 hover:bg-green-700 text-white cursor-pointer rounded-md my-3 font-bold">
                Success Modal
                </button>

                <!--Overlay element-->
                <div id="overlaySuccess" class="fixed hidden z-40 w-full h-full inset-0 backdrop-blur-md bg-opacity-60"></div>

                <!--Modal Body-->
                <div id="modalSuccess" class="text-center z-50 fixed hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-100 dark:bg-neutral-800 rounded-xl px-5 py-5 space-y-5 drop-shadow-lg border-t-4 border-green-500">

                <svg width="70px" height="70px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#1eff00" stroke="#1eff00" class="flex items-center">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <path fill="#22c55e" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm-55.808 536.384-99.52-99.584a38.4 38.4 0 1 0-54.336 54.336l126.72 126.72a38.272 38.272 0 0 0 54.336 0l262.4-262.464a38.4 38.4 0 1 0-54.272-54.336L456.192 600.384z"></path></g>
                </svg>

                <h2 class="text-2xl font-bold py-2 dark:text-white">Success</h3>
                <p class="text-sm text-gray-500 px-8">
                    This modal window indicates that everything went success.
                    Yay!
                </p>
                <button id="closeSuccess"
                    class="bg-green-500 px-5 py-2 text-sm shadow-lg font-medium tracking-wider text-white rounded-xl">
                    Confirm
                </button>
   
                </div>


                <!--Info Modal-->
                <button id="openInfo" class="px-5 py-2 bg-blue-500 hover:bg-blue-700 text-white cursor-pointer rounded-md font-bold">
                    Info Modal
                </button>
    
                <!--Overlay element-->
                <div id="overlayInfo" class="fixed hidden z-40 w-full h-full inset-0 backdrop-blur-md bg-opacity-60"></div>
    
                <!--Modal Body-->
                <div id="modalInfo" class="text-center z-50 fixed hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-100 dark:bg-neutral-800 rounded-xl px-5 py-5 space-y-5 drop-shadow-lg border-t-4 border-blue-500">
    
                    <svg width="70px" height="70px" viewBox="0 0 24 24" fill="#1eff00" xmlns="http://www.w3.org/2000/svg" stroke="#1eff00" class="flex items-center">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier"> 
                        <g id="Warning / Info">
                        <path fill="#3b82f6" id="Vector" d="M12 11V16M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21ZM12.0498 8V8.1L11.9502 8.1002V8H12.0498Z" stroke="#0008ff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g>
                    </svg>
    
                <h2 class="text-2xl font-bold py-2 dark:text-white">Information</h3>
                <p class="text-sm text-gray-500 px-8">
                    This window contains some information
                </p>
                <button id="closeInfo"
                    class="bg-blue-500 px-5 py-2 text-sm shadow-lg font-bold tracking-wider text-white rounded-md">
                    Got It!
                </button>
       
                </div>


                <!--Form Modal-->
                <!--This button is used to open the dialog-->
                <button id="openDanger" class="px-5 py-2 bg-red-500 hover:bg-red-700 text-white cursor-pointer rounded-md mt-3 font-bold">
                    Danger Modal
                </button>
    
                <!--Overlay element-->
                <div id="overlayDanger" class="fixed hidden z-40 w-full h-full inset-0 backdrop-blur-md bg-opacity-60"></div>
    
                <!--Modal Body-->
                <div id="modalDanger" class="text-center z-50 fixed hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-100 dark:bg-neutral-800 rounded-xl px-5 py-5 space-y-5 drop-shadow-lg border-t-4 border-red-500">
    
                    <svg width="70px" height="70px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ff0000" class="flex items-center">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier"> 
                        <path d="M12 9V14" stroke="#ff0000" stroke-width="1.9919999999999998" stroke-linecap="round" stroke-linejoin="round"></path> 
                        <path d="M12.0001 21.41H5.94005C2.47005 21.41 1.02005 18.93 2.70005 15.9L5.82006 10.28L8.76006 5.00003C10.5401 1.79003 13.4601 1.79003 15.2401 5.00003L18.1801 10.29L21.3001 15.91C22.9801 18.94 21.5201 21.42 18.0601 21.42H12.0001V21.41Z" stroke="#ff0000" stroke-width="1.9919999999999998" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M11.9945 17H12.0035" stroke="#ff0000" stroke-width="1.9919999999999998" stroke-linecap="round" stroke-linejoin="round"></path> </g>
                    </svg>
    
                <h2 class="text-2xl font-bold py-2 dark:text-white">Danger Modal</h3>
                <p class="text-sm text-gray-500 px-8">
                    Oh, I think you are doing something dangerous
                </p>
                <button id="closeDanger"
                    class="bg-red-500 px-5 py-2 text-sm font-bold shadow-lg tracking-wider text-white rounded-md">
                    Go Back
                </button>

                </div>

                <!--Form Modal-->
                <!--This button is used to open the dialog-->
                <button id="openForm" class="px-5 py-2 bg-purple-500 hover:bg-purple-700 text-white cursor-pointer rounded-md mt-3 font-bold">
                    Form Modal
                </button>
    
                <!--Overlay element-->
                <div id="overlayForm" class="fixed hidden z-40 w-full h-full inset-0 backdrop-blur-md bg-opacity-60"></div>
    
                <!--Modal Body-->
                <div id="modalForm" class="text-center z-50 fixed hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-100 dark:bg-neutral-800 rounded-xl px-5 py-5 space-y-5 drop-shadow-lg border-t-4 border-red-500">
    
                    <svg width="70px" height="70px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ff0000" class="flex items-center">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier"> 
                        <path d="M12 9V14" stroke="#ff0000" stroke-width="1.9919999999999998" stroke-linecap="round" stroke-linejoin="round"></path> 
                        <path d="M12.0001 21.41H5.94005C2.47005 21.41 1.02005 18.93 2.70005 15.9L5.82006 10.28L8.76006 5.00003C10.5401 1.79003 13.4601 1.79003 15.2401 5.00003L18.1801 10.29L21.3001 15.91C22.9801 18.94 21.5201 21.42 18.0601 21.42H12.0001V21.41Z" stroke="#ff0000" stroke-width="1.9919999999999998" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M11.9945 17H12.0035" stroke="#ff0000" stroke-width="1.9919999999999998" stroke-linecap="round" stroke-linejoin="round"></path> </g>
                    </svg>
    
                <h2 class="text-2xl font-bold py-2 dark:text-white">Danger Modal</h3>
                <p class="text-sm text-gray-500 px-8">
                    Oh, I think you are doing something dangerous
                </p>
                <button id="closeForm"
                    class="bg-red-500 px-5 py-2 text-sm font-bold shadow-lg tracking-wider text-white rounded-md">
                    Go Back
                </button>
       
                </div>
                            
            </div>
            </div>
        </div>
                        
  
  
  
  
    <!--Bottom Navigation Bar-->
    <div id="bottom-navigation" class="block fixed inset-x-0 bottom-0 z-10 shadow rounded-xl mx-3 my-2 backdrop-blur-lg">
        <div id="tabs" class="flex justify-between">
            <!--Wigets-->
            <a href="../index-components.html" class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
                <ion-icon name="extension-puzzle"></ion-icon>
                <span class="tab tab-wigets block text-xs">Wigets</span>
            </a>

            <!--Pages-->
            <a href="../index-pages.html" class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
                <ion-icon name="book"></ion-icon>
                <span class="tab tab-pages block text-xs">Pages</span>
            </a>

            <!--Home-->
            <a href="../index.html" class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
                <ion-icon name="home"></ion-icon>
                <span class="tab tab-home block text-xs">Home</span>
            </a>

            <!--Theme Modal Window-->
            <a href="#" id="openEmpty"
            class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
                <ion-icon name="contrast-sharp"></ion-icon>
                <span class="tab tab-theme block text-xs">Theme</span>
            </a>

            <!--Search-->
            <a href="../index-search.html" class="w-full text-gray-700 dark:text-gray-100 focus:text-blue-400 hover:text-blue-400 justify-center inline-block text-center pt-2 pb-1">
                <ion-icon name="search"></ion-icon>
                <span class="tab tab-search block text-xs">Search</span>
            </a>
        </div>
    </div>



    <!--IONICONS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../js/modals.js"></script>
</body>
</html>